*{
    padding: 0;
    margin: 0;

}

ul , li {
    list-style: none;

}

a {
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;

}

ul , li {
    list-style: none;

}

a {
    text-decoration: none;
}

.box {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;

}

.title_box {
    text-align: center;
}

.box > p {
    text-align: center;
}

.box2 {
    border-bottom: 1px #777 solid;
    margin-top: 50px;
}

.box2 p {
    margin-bottom: 10px;
}

.box2 input {
    border: none;
    width: 400px;
}

.box2 input:focus {
    
    outline: none;

}

.box button {
    margin-top: 50px;
    width: 1000px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 12px;
}


