*{
    padding: 0;
    margin: 0;

}

ul  {
    list-style: none;
    margin-top: 20px;
    
}

ul > p {
    font-weight: 700;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    
}

.myPage {
    padding-left: 15px;
}

.title2 {
    padding-right: 23px;
    border-bottom: 2px #777 solid;
    font-size: 32px;
    padding-bottom: 10px;
}

.sub_title {
    margin-top: 15px;
    margin-bottom: 5px;
}